<style>
	/*添加工单类型的控件间隔*/
	/*工单分配规则*/
	
	.form-group {
		margin-bottom: 40px;
	}
	
	.form-control {
		display: inline-block;
		width: 84%;
		margin-left: 7px;
	}
	
	.tips-left {
		margin-left: 77px;
	}
	/*说明栏样式*/
	
	.lin-dropdown {
		position: relative;
		width: 100px;
	}
	
	.lin-dropdown:hover .lin-dropdown-content {
		display: block;
	}
	
	.lin-dropdown .lin-dropdown-nav {
		width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
	}
	
	.lin-dropdown .lin-dropdown-content {
		display: none;
		position: absolute;
		right: 100%;
		bottom: 0;
		width: 300px;
		background-color: #fff;
		border: 1px #fff solid;
		box-shadow: 0 2px 12px rgba(0, 0, 0, .1);
		border-radius: 4px;
		cursor: default;
		z-index: 10;
		cursor: pointer;
	}
	
	.lin-dropdown .lin-dropdown-content:after {
		position: absolute;
		bottom: 18px;
		right: -11px;
		width: 0;
		height: 0;
		content: '';
		border: 6px solid transparent;
		border-left-color: #fff;
	}
</style>

<!--首页-->
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h5>工单分配规则</h5>
				</div>
				<!-- 首页列表 -->
				<section class="ibox-content" id="sectionA">
					<table class="table table-striped table-bordered table-hover" datatable="ng" dt-options="dtOptions">
						<thead style="white-space: nowrap;">
							<tr>
								<th>序号</th>
								<th>商品集合</th>
								<th>工单类型</th>
								<th>处理人</th>
								<th>创建时间</th>
								<th>更新时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr style="text-align: left;" ng-repeat="item in allocationRuleList">
								<td>{{$index+1}}</td>
								<td>{{ item.goods.name }}</td>
								<td>{{ item.type.name }}</td>
								<td>{{ item.customer.name }}</td>
								<td>{{ item.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
								<td>{{ item.updatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
								<td style="white-space:nowrap">
									<button class="btn btn-info btn-outline btn-sm" type="button" data-toggle="modal" data-target="#editRule" ng-click="editItem(item,$index)">编辑</button>
									<button class="btn btn-danger btn-outline btn-sm" type="button" ng-click="removeItem(item)">删除</button>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
				<!-- /首页列表 -->
			</div>
		</div>
	</div>
</div>

<!--弹窗显示-->

<!--添加分配规则-->
<div id="addRule" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" style="width: 35%;" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
				<h4 class="modal-title">添加分配规则</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" name="formRuleAdd" role="form" novalidate>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="productGather">
                            <span class="text-danger">*</span>商品集合：
						</label>
						<div class="col-sm-10">
							<select class="form-control m-b" name="_id" ng-options="item._id as item.name for item in productList" ng-model="addProductRules.productGather">
								<option value="">请选择</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="woType">
							<span class="text-danger">*</span>工单类型：
						</label>
						<div class="col-sm-10">
							<select class="form-control m-b" name="type" ng-options="item.type as item.name for item in problemTypesList" ng-model="addProductRules.woType">
								<option value="">请选择</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="conductor">
							<span class="text-danger">*</span>处理人：
						</label>
						<div class="col-sm-10">
							<select class="form-control m-b" name="_id" ng-options="item._id as item.name for item in customers" ng-model="addProductRules.conductor">
								<option value="">请选择</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" style="text-align: right;padding-right: 15px;">
				<button class="btn btn-primary add-site" ng-click="saveRules()">保存</button>
				<button class="btn btn-white m-l clear-site" data-dismiss="modal">返回</button>
			</div>
		</div>
	</div>
</div>
<!--/添加分配规则-->
<!--编辑分配规则-->
<div id="editRule" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" style="width: 35%;" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
				<h4 class="modal-title">编辑分配规则</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" name="formRuleedit" role="form" novalidate>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="productGather">
                            <span class="text-danger">*</span>商品集合：
						</label>
						<div class="col-sm-10">
							<select class="form-control m-b" name="_id" ng-options="item._id as item.name for item in productList" ng-model="editProductRules.productGather">
								<option value="">请选择</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="woType">
							<span class="text-danger">*</span>工单类型：
						</label>
						<div class="col-sm-10">
							<select class="form-control m-b" name="type" ng-options="item.type as item.name for item in problemTypesList" ng-model="editProductRules.woType">
								<option value="">请选择</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="conductor">
							<span class="text-danger">*</span>处理人：
						</label>
						<div class="col-sm-10">
							<select class="form-control m-b" name="_id" ng-options="item._id as item.name for item in customers" ng-model="editProductRules.conductor">
								<option value="">请选择</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" style="text-align: right;padding-right: 15px;">
				<button class="btn btn-primary add-site" ng-click="saveRulesEdit()">保存</button>
				<button class="btn btn-white m-l clear-site" data-dismiss="modal">返回</button>
			</div>
		</div>
	</div>
</div>
<!--/编辑分配规则-->